.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/**===== nest5 =====*/
#nest5 {
  display: block;
  position: absolute;
  top: 30%;
  left: 50%;
  height: 150px;
  width: 150px;
  margin: -25px 0 0 -25px;
  border: 2px solid transparent;
  border-top-color: #008744;
  border-radius: 50%;
  -webkit-animation: spin11 2s linear infinite;
  animation: spin11 2s linear infinite;
}

#nest5:before {
  content: "";
  position: absolute;
  top: 7px;
  right: 7px;
  bottom: 7px;
  left: 7px;
  border: 2px solid transparent;
  border-radius: 50%;
  border-top-color: #d62d20;
  -webkit-animation: spin11 3s linear infinite;
  animation: spin11 3s linear infinite;
}

#nest5:after {
  content: "";
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  border: 2px solid transparent;
  border-radius: 50%;
  border-top-color: #ffa700;
  -webkit-animation: spin11 1.5s linear infinite;
  animation: spin11 1.5s linear infinite;
}

@-webkit-keyframes spin11 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin11 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/** END of nest5*/
