<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>239248749810-i9fpjod25udk99s8h3ieueed73lh2cid.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.239248749810-i9fpjod25udk99s8h3ieueed73lh2cid</string>
	<key>API_KEY</key>
	<string>AIzaSyBt5_k49nTyco8M8sbN7nfp5FrOTFZ27Co</string>
	<key>GCM_SENDER_ID</key>
	<string>239248749810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vuhoang.trinh.USReview</string>
	<key>PROJECT_ID</key>
	<string>usreview-ec04a</string>
	<key>STORAGE_BUCKET</key>
	<string>usreview-ec04a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:239248749810:ios:380152828a992f593ccc6b</string>
</dict>
</plist>